<!DOCTYPE html>

<html lang="en" style="height: 100%">
    <head>
        
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-DHJF51F24N"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'G-DHJF51F24N');
            </script>
        

        <meta charset="utf-8">
        <title>mysite : /home/nsuem/mysite : Directory Listing : nsuem : PythonAnywhere</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="mysite : /home/nsuem/mysite : Directory Listing : nsuem : PythonAnywhere">
        <meta name="author" content="PythonAnywhere LLP">
        <meta name="google-site-verification" content="O4UxDrfcHjC44jybs2vajc1GgRkTKCTRgVzeV6I9V14" />


        <!-- Le styles -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" />

        <link rel="stylesheet" href="/static/CACHE/css/output.562ba3d8506e.css" type="text/css" media="screen">
        <link rel="stylesheet" href="/static/CACHE/css/output.b9a4961a16f7.css" type="text/css"><link rel="stylesheet" href="/static/CACHE/css/output.180d5a615127.css" type="text/css" media="screen"><link rel="stylesheet" href="/static/CACHE/css/output.cd202486ffb5.css" type="text/css"><link rel="stylesheet" href="/static/CACHE/css/output.35cfc90995b4.css" type="text/css" media="screen">

        <!-- Le javascript -->
        <script type="text/javascript">
            var Anywhere = {};
            Anywhere.urls = {};
            Anywhere.csrfToken = "qnsyvbsdMAY7D0TB5lXj8r44GmyYzwrqUf7Joc6f9SrYKYwILcS4KeYti6dPjsMG";
        </script>
        <script src="/static/CACHE/js/output.b336be555fe1.js"></script>
        

        <script src="/static/CACHE/js/output.7ed41b36e11c.js"></script>
        
  <script type="text/javascript">
    $(function() {

      
        Anywhere.Files.InitialiseDeleteDirectory('/user/nsuem/files/home/nsuem/mysite/__pycache__', 'directory_1');
      
        Anywhere.Files.InitialiseDeleteDirectory('/user/nsuem/files/home/nsuem/mysite/instance', 'directory_2');
      
        Anywhere.Files.InitialiseDeleteDirectory('/user/nsuem/files/home/nsuem/mysite/templates', 'directory_3');
      

      
    });
  </script>

        

    </head>

    <body style="height:100%;">
       <div style="min-height: 100%; position: relative;">
        
  

        
  <nav class="navbar top-nav hidden-xs">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        
<li class="">
        <a href="" data-testid="contact_support_link" target="_parent" class="feedback_link">
                
                Send Feedback
                
        </a>
</li>


<li class=""><a href="/forums/" target="_parent" class="forums_link">Forums</a></li>
<li class=""><a href="https://help.pythonanywhere.com/" target="_parent" class="help_link">Help</a>
</li>
<li class=""><a href="https://blog.pythonanywhere.com/" target="_parent" class="blog_link">Blog</a>
</li>


<li class=""><a href="/user/nsuem/account/" target="_parent"
                class="account_link">Account</a></li>
<li class="">
        <form action="/logout/" method="POST" target="_parent">
                <input type="hidden" name="csrfmiddlewaretoken" value="qnsyvbsdMAY7D0TB5lXj8r44GmyYzwrqUf7Joc6f9SrYKYwILcS4KeYti6dPjsMG">
                <button type="submit" class="btn-link logout_link">Log out</button>
        </form>
</li>

      </ul>
    </div>
  </nav>

  




  <nav class="navbar primary-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img id='id_logo' src="/static/anywhere/images/PA-logo.svg" width="225">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="nav navbar-nav navbar-right">
          
  
  <li class=""><a id="id_dashboard_link" href="/user/nsuem/">Dashboard</a></li>
  <li class=""><a id="id_consoles_link" href="/user/nsuem/consoles/">Consoles</a></li>
  <li class="active"><a id="id_files_link" href="/user/nsuem/files/home/nsuem">Files</a></li>
  <li class=""><a id="id_web_app_link" href="/user/nsuem/webapps/">Web</a></li>
  <li class=""><a id="id_tasks_link" href="/user/nsuem/tasks_tab/">Tasks</a></li>
  <li class=""><a id="id_databases_link" href="/user/nsuem/databases/">Databases</a></li>



          
<li class="visible-xs">
        <a href="" data-testid="contact_support_link" target="_parent" class="feedback_link">
                
                Send Feedback
                
        </a>
</li>


<li class="visible-xs"><a href="/forums/" target="_parent" class="forums_link">Forums</a></li>
<li class="visible-xs"><a href="https://help.pythonanywhere.com/" target="_parent" class="help_link">Help</a>
</li>
<li class="visible-xs"><a href="https://blog.pythonanywhere.com/" target="_parent" class="blog_link">Blog</a>
</li>


<li class="visible-xs"><a href="/user/nsuem/account/" target="_parent"
                class="account_link">Account</a></li>
<li class="visible-xs">
        <form action="/logout/" method="POST" target="_parent">
                <input type="hidden" name="csrfmiddlewaretoken" value="qnsyvbsdMAY7D0TB5lXj8r44GmyYzwrqUf7Joc6f9SrYKYwILcS4KeYti6dPjsMG">
                <button type="submit" class="btn-link logout_link">Log out</button>
        </form>
</li>

        </ul>
      </div>

    </div>
  </nav>

  <div class="container">
    

  </div>

  

    
      

      

      
    
  


        
  


        

    <div class="container">

        
            <div id="id_directory_listing_toolbar">
                <span id="id_breadcrumbs_div"><a class="breadcrumbs_link breadcrumb_entry" href="/user/nsuem/files/" target="_parent">/</a><a class="breadcrumbs_link breadcrumb_entry" href="/user/nsuem/files/home" target="_parent">home</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/nsuem/files/home/nsuem" target="_parent">nsuem</a><span class="breadcrumb_entry">/</span><wbr><i class="glyphicon glyphicon-folder-open pale breadcrumb_entry"></i><span class="breadcrumb_entry breadcrumb_terminal">mysite</span></span>

                <div id="id_quota_div">
                  <script type="text/javascript">
  $(function() {
    Anywhere.Quota.GetQuotaInformation(
      "/user/nsuem/quota_information/",
      Anywhere.Quota.ShowQuotaInformation
    );

  });

  $(function () {
    $('#id_disk_quota_popover').popover({html: true})
  })
</script>

<span id="id_quota_information" style="display: none">
  <span id="id_quota_summary">
    <span id="id_disk_percent_full"></span>
    full
  </span>
  &ndash;
  <span class="text-muted" id="id_disk_used"></span> of your <span id="id_disk_quota"></span> quota
  <span style="display: inline-block">
      <a
        id="id_disk_quota_popover"
        class="badge primary"
        tabindex="0"
        data-container="body"
        data-toggle="popover"
        data-placement="bottom"
        role="button"
        data-trigger="focus"
        data-content="This is how much disk space you have used, and what your limit is.  <a href='https://help.pythonanywhere.com/pages/DiskQuota'>There's more information here</a>, including hints on how to find out what is using up space and how to clear things down."
        >More Info</a>
    </span>
</span>


                </div>

                <span id="id_console_here_div">
                    <a href="/user/nsuem/consoles/bash//home/nsuem/mysite/new">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        Open Bash console here
                    </a>
                </span>

            </div>
        

        <div class="row">
        </div>

        <div class="row">
            <div id="id_directories_div" class="col-md-4 directories_listing_group">
                <h4>Directories</h4>

                
                    <form action="" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="qnsyvbsdMAY7D0TB5lXj8r44GmyYzwrqUf7Joc6f9SrYKYwILcS4KeYti6dPjsMG">
                        <div class="input-group">
                            <input id="id_new_directory_name" class="form-control" name="directory_name" type="text" placeholder="Enter new directory name" />
                            <span class="input-group-btn">
                                <button id="id_new_directory_button" type="submit" disabled="disabled" class="btn btn-default">New directory</button>
                            </span>
                        </div>
                    </form>
                

                <table class="hoverable directory_listing_table">
                    
                        <tr class="hoverable" id="id_row_directory_1">
                            <td class="first_column">
                                <a class="directories_link" href="/user/nsuem/files/home/nsuem/mysite/__pycache__"><i class="glyphicon glyphicon--folder-open pale"></i> __pycache__/</a></td>
                            <td>
                                
                                    <a class="delete_link" id="id_delete_link_directory_1" href="/user/nsuem/files/home/nsuem/mysite/__pycache__?action=delete_directory" title="delete"><i class="glyphicon glyphicon-trash pale"></i></a>
                                

                                <div id="id_not_empty_dialog_directory_1" title="Directory not empty" style="display:none">
                                    <p>
                                    Directory '__pycache__' is not empty, delete anyway?

                                    <div class="dialog_buttons">
                                        <button class="btn btn-default" id="id_confirm_delete_directory_1">OK</button>
                                        <button class="btn btn-default" id="id_cancel_delete_directory_1" >Cancel</button>
                                    </div>
                                </div>
                                <div id="id_error_deleting_dialog_directory_1" title="Error deleting directory" style="display:none">
                                    <pre id="id_error_deleting_dialog_message_directory_1">
                                    </pre>
                                    <button class="btn btn-default" id="id_ok_error_directory_1">OK</button>
                                </div>

                            </td>
                        </tr>

                    
                        <tr class="hoverable" id="id_row_directory_2">
                            <td class="first_column">
                                <a class="directories_link" href="/user/nsuem/files/home/nsuem/mysite/instance"><i class="glyphicon glyphicon--folder-open pale"></i> instance/</a></td>
                            <td>
                                
                                    <a class="delete_link" id="id_delete_link_directory_2" href="/user/nsuem/files/home/nsuem/mysite/instance?action=delete_directory" title="delete"><i class="glyphicon glyphicon-trash pale"></i></a>
                                

                                <div id="id_not_empty_dialog_directory_2" title="Directory not empty" style="display:none">
                                    <p>
                                    Directory 'instance' is not empty, delete anyway?

                                    <div class="dialog_buttons">
                                        <button class="btn btn-default" id="id_confirm_delete_directory_2">OK</button>
                                        <button class="btn btn-default" id="id_cancel_delete_directory_2" >Cancel</button>
                                    </div>
                                </div>
                                <div id="id_error_deleting_dialog_directory_2" title="Error deleting directory" style="display:none">
                                    <pre id="id_error_deleting_dialog_message_directory_2">
                                    </pre>
                                    <button class="btn btn-default" id="id_ok_error_directory_2">OK</button>
                                </div>

                            </td>
                        </tr>

                    
                        <tr class="hoverable" id="id_row_directory_3">
                            <td class="first_column">
                                <a class="directories_link" href="/user/nsuem/files/home/nsuem/mysite/templates"><i class="glyphicon glyphicon--folder-open pale"></i> templates/</a></td>
                            <td>
                                
                                    <a class="delete_link" id="id_delete_link_directory_3" href="/user/nsuem/files/home/nsuem/mysite/templates?action=delete_directory" title="delete"><i class="glyphicon glyphicon-trash pale"></i></a>
                                

                                <div id="id_not_empty_dialog_directory_3" title="Directory not empty" style="display:none">
                                    <p>
                                    Directory 'templates' is not empty, delete anyway?

                                    <div class="dialog_buttons">
                                        <button class="btn btn-default" id="id_confirm_delete_directory_3">OK</button>
                                        <button class="btn btn-default" id="id_cancel_delete_directory_3" >Cancel</button>
                                    </div>
                                </div>
                                <div id="id_error_deleting_dialog_directory_3" title="Error deleting directory" style="display:none">
                                    <pre id="id_error_deleting_dialog_message_directory_3">
                                    </pre>
                                    <button class="btn btn-default" id="id_ok_error_directory_3">OK</button>
                                </div>

                            </td>
                        </tr>

                    
                </table>
            </div>

            <div id="id_files_div" class="col-md-8 directories_listing_group" style="white-space: nowrap">
                <h4>Files</h4>

                
                    <form id="id_new_file_form" action="" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="qnsyvbsdMAY7D0TB5lXj8r44GmyYzwrqUf7Joc6f9SrYKYwILcS4KeYti6dPjsMG">
                        <input type="hidden" name="file_type" value="plain-text" />
                        
                          <div class="input-group">
                            <input id="id_new_file_name" class="form-control" name="filename" type="text" placeholder="Enter new file name, eg hello.py"/>
                            <span class="input-group-btn">
                              <button id="id_new_file_button" type="submit" disabled="disabled" class="btn btn-default">New file</button>
                            </span>
                          </div>

                        
                    </form>

                

                <table class="hoverable directory_listing_table">
                    
                      
                        
    <script type="text/javascript">
        $(function() {
            Anywhere.Files.InitialiseDeleteFile('/user/nsuem/files/home/nsuem/mysite/flask_app.py', 'file_1');
        });
    </script>

    <tr class="hoverable" id="id_row_file_1">
        <td class="first_column">
            <div class="filename">
            
                
                    <a title="flask_app.py" href="/user/nsuem/files/home/nsuem/mysite/flask_app.py?edit"><i class="glyphicon glyphicon-file pale"></i> flask_app.py</a>
                
            
            </div>
        </td>
        <td class="link_td">
            
                <a class="download_link" href="/user/nsuem/files/home/nsuem/mysite/flask_app.py" title="download" download><i class="glyphicon glyphicon-download-alt pale"></i></a>
            
        </td>
        <td class="link_td">
            
                <a class="edit_link" href="/user/nsuem/files/home/nsuem/mysite/flask_app.py?edit" title="edit"><i class="glyphicon glyphicon-edit pale"></i></a>
            
        </td>
        <td class="link_td">
            
                <a class="delete_link" id="id_delete_link_file_1" href="/user/nsuem/files/home/nsuem/mysite/flask_app.py?action=delete_file" title="delete"><i class="glyphicon glyphicon-trash pale"></i></a>
            
        </td>
        <td class="file_timestamp">
            2026-01-15 16:28
        </td>
        <td class="file_size" title="6438 bytes">
            6.3 KB
        </td>
    </tr>

    <div id="id_confirm_dialog_file_1" title="Are you sure?" style="display:none">
        <p>
        Are you sure you want to delete 'flask_app.py'?

        <div class="dialog_buttons">
            <button class="btn btn-default" id="id_confirm_delete_file_1">OK</button>
            <button class="btn btn-default" id="id_cancel_delete_file_1">Cancel</button>
        </div>
    </div>



                      
                    
                      
                        
    <script type="text/javascript">
        $(function() {
            Anywhere.Files.InitialiseDeleteFile('/user/nsuem/files/home/nsuem/mysite/flask_app.py.old', 'file_2');
        });
    </script>

    <tr class="hoverable" id="id_row_file_2">
        <td class="first_column">
            <div class="filename">
            
                
                    <a title="flask_app.py.old" href="/user/nsuem/files/home/nsuem/mysite/flask_app.py.old?edit"><i class="glyphicon glyphicon-file pale"></i> flask_app.py.old</a>
                
            
            </div>
        </td>
        <td class="link_td">
            
                <a class="download_link" href="/user/nsuem/files/home/nsuem/mysite/flask_app.py.old" title="download" download><i class="glyphicon glyphicon-download-alt pale"></i></a>
            
        </td>
        <td class="link_td">
            
                <a class="edit_link" href="/user/nsuem/files/home/nsuem/mysite/flask_app.py.old?edit" title="edit"><i class="glyphicon glyphicon-edit pale"></i></a>
            
        </td>
        <td class="link_td">
            
                <a class="delete_link" id="id_delete_link_file_2" href="/user/nsuem/files/home/nsuem/mysite/flask_app.py.old?action=delete_file" title="delete"><i class="glyphicon glyphicon-trash pale"></i></a>
            
        </td>
        <td class="file_timestamp">
            2026-01-15 16:18
        </td>
        <td class="file_size" title="186 bytes">
            186 bytes
        </td>
    </tr>

    <div id="id_confirm_dialog_file_2" title="Are you sure?" style="display:none">
        <p>
        Are you sure you want to delete 'flask_app.py.old'?

        <div class="dialog_buttons">
            <button class="btn btn-default" id="id_confirm_delete_file_2">OK</button>
            <button class="btn btn-default" id="id_cancel_delete_file_2">Cancel</button>
        </div>
    </div>



                      
                    
                      
                        
    <script type="text/javascript">
        $(function() {
            Anywhere.Files.InitialiseDeleteFile('/user/nsuem/files/home/nsuem/mysite/lms.db', 'file_3');
        });
    </script>

    <tr class="hoverable" id="id_row_file_3">
        <td class="first_column">
            <div class="filename">
            
                
                    <i title="lms.db" class="glyphicon glyphicon-file pale"></i> lms.db
                
            
            </div>
        </td>
        <td class="link_td">
            
                <a class="download_link" href="/user/nsuem/files/home/nsuem/mysite/lms.db" title="download" download><i class="glyphicon glyphicon-download-alt pale"></i></a>
            
        </td>
        <td class="link_td">
            
                &nbsp;
            
        </td>
        <td class="link_td">
            
                <a class="delete_link" id="id_delete_link_file_3" href="/user/nsuem/files/home/nsuem/mysite/lms.db?action=delete_file" title="delete"><i class="glyphicon glyphicon-trash pale"></i></a>
            
        </td>
        <td class="file_timestamp">
            2026-01-15 16:30
        </td>
        <td class="file_size" title="28672 bytes">
            28.0 KB
        </td>
    </tr>

    <div id="id_confirm_dialog_file_3" title="Are you sure?" style="display:none">
        <p>
        Are you sure you want to delete 'lms.db'?

        <div class="dialog_buttons">
            <button class="btn btn-default" id="id_confirm_delete_file_3">OK</button>
            <button class="btn btn-default" id="id_cancel_delete_file_3">Cancel</button>
        </div>
    </div>



                      
                    

                    
                        <tr>
                            <td>
                                <form id="id_upload_form" action="" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="qnsyvbsdMAY7D0TB5lXj8r44GmyYzwrqUf7Joc6f9SrYKYwILcS4KeYti6dPjsMG">
                                    <label id="id_upload_button" class="btn btn-file btn-warning" for="id_upload_filename" type="submit">
                                        <input type="file" name="file" id="id_upload_filename" style="display: none;" onchange="$('#id_upload_form').submit()" />
                                        <i class="glyphicon glyphicon-upload"></i>
                                        Upload a file
                                    </label>
                                    <br><small>100MiB maximum size</small>
                                </form><br>
                            </td>
                        </tr>
                    
                </table>

        </div>
    </div>

        <div class="clear"></div>

    </div>



        
  <div class="footer-spacer"></div>
  <footer id="id_copyright_div" class="footer">
    <p>
      Copyright &copy; 2011-2026 <a href="/about/company_details/">PythonAnywhere LLP</a>
      &mdash;
      <a href="/terms/">Terms</a>
      &mdash;
      <a href="/privacy/">Privacy & Cookies</a><br/>
      </p>
  </footer>

      </div>

        


        

<div id="id_feedback_dialog" title="Send Feedback"
    style="display:none">
    <div id="id_feedback_dialog_blurb_big" class="dialog_blurb_big">
        
        Thank you for your feedback.
        
    </div>
    <div id="id_feedback_dialog_blurb_small">
        <!-- CTA disclaimer section -->
        
        <div id="id_cta_disclaimer" class="cta_disclaimer">
            <div id="id_disclaimer_text">
                We review all feedback, but we cannot promise a response.
                <br />
                <br />
                Did you know you can upgrade your plan to get access to Customer Support?
            </div>
            <div class="dialog_buttons center">
                <button class="btn btn-primary" id="id_feedback_dialog_upgrade_button"
                    onclick='window.top.location="/pricing/";'>
                    
                    Upgrade Now
                    
                </button>
            </div>
        </div>
        

        To help us assist you as efficiently as possible, please include:
        <ol>
            <li>What you were trying to do.</li>
            <li>What you expected to happen.</li>
            <li>What actually happened including any error messages or screenshots.</li>
            <li>Steps to reproduce the issue.</li>
        </ol>
    </div>

    <textarea id="id_feedback_dialog_text" rows="6"></textarea>
    <input id="id_feedback_dialog_email_address" type="text"
        placeholder="Email address (optional - only necessary if you would like us to contact you)" />

    <div id="id_feedback_dialog_error" style="display: none">
        Sorry, there was a problem connecting to the server. Please try again in a few moments.
    </div>
    <div id="id_feedback_dialog_rate_limit_error" style="display: none">
        
        Sorry, you have reached the sending limit for feedback. Please try again in a few moments.
        
    </div>
    <div id="id_feedback_dialog_success" style="display: none">
        
        Thank you for your feedback. We review all feedback, but we cannot promise a response.
        
    </div>

    <div class="dialog_buttons">
        <img id="id_feedback_dialog_spinner" src="/static/anywhere/images/spinner-small.gif" />
        <button class="btn btn-primary" id="id_feedback_dialog_ok_button">OK</button>
        <button class="btn btn-default" id="id_feedback_dialog_cancel_button">Cancel</button>
    </div>

    <div id="id_feedback_dialog_only_close_button" style="display: none">
        <button class="btn btn-primary" id="id_feedback_dialog_close_button">Close</button>
    </div>
</div>

        
        <!-- preload font awesome fonts to avoid glitch when switching icons -->
        <div style="width: 0; height: 0; overflow: hidden"><i class="fa fa-square-o fa-3x" ></i></div>
    </body>
</html>
